#game_page
{
    top: 50%;
    transform: translateY(+5%);
}

#game_canvas
{
    border: solid white;
}

#game_canvas, #start_game, #infos
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}