#game_page
{
    top: 50%;
    transform: translateY(+5%);
}

#game_canvas
{
    border: solid white;
}

#infos
{
    font-size: 37px;
}

#game_canvas
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}